.vs/

Api/bin/
Api/obj/

Application/bin/
Application/obj/

ApplicationTests/bin/
ApplicationTests/obj/

Commons/bin/
Commons/obj/

Domain/bin/
Domain/obj/

ExternalServices/bin/
ExternalServices/obj/

Persistence/bin/
Persistence/obj/

bin/
obj/
SQL-Server/